
html,body {
    height: 100%;
}

footer {
    border-top: 1px solid #1c1e22;
    color: #7a8288;
}

div#ui div.panel {
    min-height: 80px;
    background-color: #32373D;
    padding: 3px;
}

div#ui {
    margin-bottom: 10px;
}

canvas {
    cursor: crosshair;
}
